body{
    font-family: 'Mukta', sans-serif;
    background-color:hsl(0, 43%, 90%);
    margin: 0;

}

#network-1{
    padding: 0px 80px;
}
#network-2{
    padding: 0px 80px;
}
#network-3{
    padding: 0px 80px;
}
footer{
    height: 200px;
    width: 300px;
    margin-left: 40%;
    text-align: center;
}
footer img{
    width: 50%;
}
#highlight-area{
    font-size: 30px;
    color: lime;
    font-weight:bold;
}
.networking-service{
    width: 20%;
    float: left;
}
.alignment{
    align-items: center;
}

.work-area img{
    width: 100%;
}

.work-area{
    width: 30%;
    float: left;
    margin: 80px;
}

.work-name{
    height: 200px;
    box-shadow: 10px 10px 20px cornsilk;
    padding: 40px;
    background-color: coral;
    border-left: 5px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;
}
#inquiry-1{
    padding:20px;
    font-size: 50px;
    color:cyan;
    text-align: center;

 }
 #inquiry-2{
     padding-top: 80px;
     text-align: center;
 }
.inquiry-item{
    width: 50%;
    float: left;
}
.inquiry-area{
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border: 4px solid gray;
    border-radius: 10px;
    margin: 100px 200px;
}
#project-1{
    border-left:5px solid;
    border-image: linear-gradient(yellow, cyan);
    border-image-slice: 1;
}
#project-2{
    border-left:5px solid;
    border-image: linear-gradient(purple, cyan);
    border-image-slice: 1;
}
#project-3{
    border-left:5px solid;
    border-image: linear-gradient(pink, rgb(0, 255, 34));
    border-image-slice: 1;
}
.latest-project{
    background-color:hsl(0, 18%, 64%);
    height: 600px;
}
.project-item{
    height: 400px;
    border-radius: 8px;
    background-color: seashell;
    width: 30%;
    float: left;
    margin: 5px 5px;
    padding-left: 20px;
    box-shadow: 10px 10px 20px wheat;
}
.project-item img{
        width: 100%;
}


#special-effect{
    color: deeppink;
    font-weight: 700;

}

h3{
    color: rgba(56, 8, 8, 0.815);
}
h2{
    text-align:justify;
    font-style: italic;
}



.half-width{
    width: 40%;
    float: left;
    padding: 0px 20px;
    
}

.half-width img{
    width: 100%;

}
.heading{
    width: 20px;
    float: left;
}
#item-1{
    padding-left: 900px;
}

#item-2{
    padding-left: 1000px;
}

#item-3{
    padding-left: 1100px;
}

#item-4{
    padding-left: 1200px;
}
.details-item{
    padding-top: 100px;
}
#single-area{
    height: 50px;
    border-bottom: 2px solid black;
}
section{
    height: 500px;
}
#name-highlight{
    color: tomato;
}

#inquiry-button{
    color:gold;
    text-decoration: none;
    background-image: -moz-radial-gradient(gray, maroon);
    border: 1px solid lime;
    padding: 10px 20px;
    border-radius: 5px;
}

.link-button{
    text-decoration: none;
    color: yellow;
    background-image: linear-gradient(80deg,blue,lime);
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgb(202, 66, 202);
}
h1{
    font-size: 60px;
    color: hsl(240, 81%, 20%);
    line-height: 10px;
}
p{
    color: rgb(59, 52, 52);

}